body {
    font-family: 'Chaparral Pro';
}

.navText {
    font-size: 23px;
    font-weight: bold;
}

.im {
    height: 320px;
}

.text {
    font-size: 21px;
}

a.classname {
    display: block;
    width: 150px;
    height: 150px;
}

#mainNav {
    background-color: #ff8348;
}

#b_search {
    background-color: #ffffff;
    border-color: lightgrey;
}

.headers {
    text-align: center;
}

.carous {
    margin-top:120px;
}

#carouselExampleControls {
    background-color: #eeeeee;
}

footer {
    background-color: #ff8348;
}

.search {
    width:72px;
}

textarea {
    background-color:white;
}

.area {
    background-color: white;
}

.card-footer {
    justify-content:center;
}

@media (min-width: 992px) {
    body {
    }
}
