@model CategoryEditViewModel

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div>
                @Html.ValidationSummary()
            </div>
            <form asp-controller="Category" asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly">
                </div>
                <div class="ml-5 mr-5 mt-3">
                    <h2 class="text-center">Edit Category</h2>
                </div>
                <div class="mt-2">
                    <input asp-for="CategoryId" hidden="hidden" />
                </div>

                <div class="mt-2">
                    <label asp-for="CategoryName"></label>
                    <input asp-for="CategoryName" />
                </div>

                <div class="mt-2">
                    <input type="submit" value="Save Changes" />
                    @using (Html.BeginForm("Details", "Category"))
                    {
                        <input class="btn" type="submit" value="Cancel" />
                    }
                </div>
            </form>
        </div>
        </div>
</div>