<div class="container">
    <div class="mt-2 mb-5">
        <h2 class="text-center">About GRANDE GIFT Company</h2>
    </div>
    <div class="mt-5 mx-auto">
    <p class="text-center">GRANDE GIFT is Australia's Hamper specialist.</p>
    <p class="text-center">We provide a range of hampers and gift baskets which are perfect to reward your staff & workers.</p>
    <p class="text-center">Hampers also provide an excellent corporate gift for your most valuable clients.</p>
    <p class="text-center">Grande Gift really can help with your gift-buying, especially at Xmas time!</p>
    </div>
</div>